<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.zpp0196.fxposed">

    <application
        android:icon="@android:mipmap/sym_def_app_icon"
        android:label="FXposed"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SettingsActivity"
            android:label="FXposed">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".SettingsActivityAlias"
            android:enabled="true"
            android:label="FXposed"
            android:targetActivity=".SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="仅供测试" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />

    </application>

</manifest>
